.mat-card{
    display: flex;
    flex-direction: column;
    width: 650px;
    align-items: center;
    justify-content: center;
    
}
.contain{
    display: flex;
    flex-direction: row;
}
.item{
    padding:24px
}