<p-card class="container" [style]="{'height':'600px','width':'500px','margin-top':'30px'}">
    <h1 [style]="{'margin-left':'30px'}"><strong>Welcome to the ______ rental service</strong></h1>
    <div class="item"><p-image src="assets/man-being-hit-car-driven-young-woman-71158431.jpg" alt="uhoh" width="400px" [style]="{'margin-left':'30px'}"></p-image> </div>
    <div>
     <h2> 
        Proudly serving customers since before cars had 4 wheels
     </h2>
    </div>
    <h3>To begin, make an account below</h3>
   <a routerLink="/create-user" routerLinkActive="active" ariaCurrentWhenActive="page"><p-button style="padding-left:164px" > Register here</p-button></a> 
</p-card>


