<p-card class="container" [style]="{'height':'800px','width':'500px','margin-top':'30px'}">
    <h1 [style]="{'margin-left':'30px'}"><strong>Welcome to the ______ rental service</strong></h1>
    <div class="item"><p-image src="assets/man-being-hit-car-driven-young-woman-71158431.jpg" alt="uhoh" width="400px" [style]="{'margin-left':'30px'}"></p-image> </div>
    <div>
        <form>
            <h2>Name</h2>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Name</label>
            </span>
            <h2>Email</h2>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Email</label>
            </span>
            <h2>Phone Number</h2>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Phone</label>
            </span>
            <h2>Date of Birth</h2>
            <p-calendar  dateFormat="yyyy.mm.dd"></p-calendar>

        </form>
    </div>

</p-card>


