<p-card>
    <ng-template pTemplate="header">
       <h2><strong>Search for your reservation!</strong></h2>
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="searchItem"> 
            <label for="inputtext">ID</label>
        </span>
        <button type="button" pButton label="Submit" class="button"(click)="onClick()"></button>
    </ng-template>
    <div *ngIf="shown" >
        <h2>User ID: {{reservation.user}}</h2>
        <p><strong>License:</strong> {{reservation.car}}</p>
        <p><strong>Reservation Start Date:</strong> {{reservation.rStart}}</p>
        <p><strong>Reservation End Date:</strong> {{reservation.rEnd}}</p>
    </div>




    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card>
<!-- *ngFor="let reservation of reservations" -->